{% extends 'base.html' %}
{% block title_tag %} Adding Categories {% endblock %}

{% block content %}
<div class="contact-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-sm-12">
                <div class="contact-form-right">
                    {% if user.is_authenticated  and user.id == 1 %}
                    <h2>Add a new Category</h2> 
                    <br/>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form.as_p }}
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="submit-button text-center">
                                <button class="btn hvr-hover" id="submit" type="submit">Create Category</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                    {% else %}
                    <h2>{{noPermission}}</h2>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}